{% load i18n %}
<li {% if is_active %}class="active"{% endif %}>
    <a href="{{ url }}{% if query_string %}?{{ query_string }}{% endif %}">
        {% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span>{% endif %}
        {% trans label %}
    </a>
</li>

