<div class="paginator text-center">

<ul class="pagination">
    {% if page.has_previous %}
        <li>
            <a href="?page={{ page.previous_page_number }}">
                &larr;
            </a>
        </li>
    {% else %}
        <li class="disabled"><span>&larr;</span></li>
    {% endif %}

    {% for pagenum in page.paginator.page_range %}
        {% if pagenum == page.number %}
            <li class="active"><span>{{ pagenum }}</span></li>
        {% else %}
            <li><a href="?page={{ pagenum }}">{{ pagenum }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page.has_next %}
        <li>
            <a href="?page={{ page.next_page_number }}">
                &rarr;
            </a>
        </li>
    {% else %}
        <li class="disabled"><span>&rarr;</span></li>
    {% endif %}
</ul>

</div>
