{% extends "squattour/map.html" %}
{% load i18n %}


{% block extra_head %}
{{ block.super }}
<style>
    p.controls {
        margin-top: 1em;
    }
    #switchheatmap {
        display: none;
    }
</style>
{% endblock %}


{% block map_controls %}
    {{ block.super }}
    <button id="switchheatmap" type="button" class="btn btn-default btn-sm"
            data-toggle="button" aria-pressed="false" autocomplete="off">
      {% trans "Show heatmap" %}
    </button>
{% endblock %}


{% block extra_body %}
{{ block.super }}

<script>
var map, heatmap, infowindow;

function initMap() {
    var bounds = new google.maps.LatLngBounds();

    infowindow = new google.maps.InfoWindow();
    infowindow.addListener("closeclick", function(event) {
        this.setContent(null);
    });

    map = new google.maps.Map(document.getElementById('map'));

    heatmap = new google.maps.visualization.HeatmapLayer({
        map: map,
        maxIntensity: 5, // You know 5 people there? Go squat!
        opacity: 0, // hidden by default
        radius: 50
    });

    map.data.loadGeoJson('{{ geojson_url }}', {},
        function(features) {
            var heatMapData = [];
            for (var index = 0, len = features.length; index < len; ++index) {
                features[index].getGeometry().forEachLatLng(function(latlng) {
                    bounds.extend(latlng);
                    heatMapData.push({
                        location: latlng,
                        weight: features[index].getProperty("weight")
                    });
                });
            }
            map.fitBounds(bounds);
            heatmap.setData(heatMapData);
            heatmap.setMap(map);
            $("#switchheatmap").fadeIn();
        }
    );
    map.data.addListener('click', function(event) {
        //event.feature.forEachProperty(function(value, name) { console.log(name, value); });
        infowindow.setContent(event.feature.getProperty("popupContent"));
        infowindow.setPosition(event.latLng);
        infowindow.open(map);
    });
}

$(function() {
    $("#switchheatmap").on("click", function(e) {
        e.stopImmediatePropagation();
        $(this).button("toggle");
        if ($(this).hasClass("active")) {
            map.data.setStyle({visible: false});
            heatmap.setOptions({opacity: 0.6});
        } else {
            map.data.setStyle({visible: true});
            heatmap.setOptions({opacity: 0});
        };
    });
});
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ service.client_key }}&signed_in=true&callback=initMap&libraries=visualization">
</script>
{% endblock %}
