{% extends "squattour/map.html" %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
{% endblock %}


{% block extra_body %}
{{ block.super }}

<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script>
$(function() {
    var map = L.map('map');
    //var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    $.getJSON('{{ geojson_url }}', function(data) {
        var geojson = L.geoJson(data, {
            onEachFeature: function(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.popupContent) {
                    layer.bindPopup(feature.properties.popupContent);
                }
            }
        }).addTo(map);
        map.fitBounds(geojson.getBounds());
    });
});
</script>

{% endblock %}
