/* SquatTour style */

.navbar-header .navbar-brand.logo {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-radius: 4px;
    padding-top: 20px;
    margin-top: 3em;
}

.nav-tabs {
    margin-bottom: 2em;
}

table.import-connections {
    width: auto;
}
table.import-connections tbody tr td {
    vertical-align: middle;
    padding: 8px 13px;
}
