{% load i18n %}
{% load staticfiles %}
{% load navigation %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block head_title %}Squat Tour{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'squattour/css/main.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="{% url "squattour:index" %}" title="{% trans 'Home' %}">
                    <img src="{% static "squattour/img/logo-50.png" %}" />
                </a>
                <a class="navbar-brand" href="{% url "squattour:index" %}" title="{% trans 'Home' %}">
                    Squat Tour
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <!-- Navigation links -->
                <ul class="nav navbar-nav">
                    {% nav_link view_name="squattour:contacts" label="Contacts" icon="user" %}
                    {% nav_link view_name="squattour:map" label="Map" icon="map-marker" %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Extra nav links -->
                    {% include 'nav/extra_links.html' %}
                    <!-- Account & Authentication -->
                    {% include 'nav/auth_menu.html' %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

    {% if messages %}
    <div class="row">
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
    {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    </div>
    {% endblock body %}

    <footer class="footer">
        <div class="container">
            <p class="text-center">
                <a href="https://gitlab.com/abompard/squattour/">Squat Tour</a>
                is Free Software,
                <a href="http://www.gnu.org/licenses/agpl-3.0.html">read your rights</a>.
            </p>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'squattour/js/main.js' %}"></script>

    {% block extra_body %}
    {% endblock %}

    {% include 'squattour/bottom.html' %}
  </body>
</html>



