{% extends "squattour/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Contacts" %} | {{ block.super }}{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{% url 'squattour:contacts' %}">{% trans "Contacts list" %}</a></li>
    <li role="presentation"><a href="{% url 'squattour:import' %}">{% trans "Import" %}</a></li>
</ul>

{% if contacts %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Address" %}</th>
            <th>{% trans "Origin" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.best_address }}</td>
            <td>
                {% if contact.social_app %}
                    {{ contact.social_app.name }}
                {% else %}
                    {% trans "local" %}
                {% endif %}
            </td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="contact" value="{{ contact.id }}" />
                    {% if contact.show %}
                    <button class="btn btn-default" type="submit" name="action" value="hide">{% trans "Hide" %}</button>
                    {% else %}
                    <button class="btn btn-default" type="submit" name="action" value="show">{% trans "Show" %}</button>
                    {% endif %}
                    <!-- <button class="btn btn-default" type="submit" name="action" value="reimport">{% trans "Re-import" %}</button> -->
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "squattour/snippets/pagination.html" with page=contacts %}

{% else %}

<p>
    You don't have any imported contacts yet,
    <a href="{% url "squattour:import" %}">import some</a>.
</p>

{% endif %}

{% endblock %}
