{% extends "squattour/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load socialaccount %}

{% block head_title %}{% trans "Import" %} | {{ block.super }}{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'squattour:contacts' %}">{% trans "Contacts list" %}</a></li>
    <li role="presentation" class="active"><a href="{% url 'squattour:import' %}">{% trans "Import" %}</a></li>
</ul>

{% if accounts %}
<h3>Existing connections</h3>
<p>You are connected with the following accounts:</p>

<table class="table import-connections">
    <thead>
        <tr>
            <th>{% trans "Service" %}</th>
            <th>{% trans "Account" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for base_account in accounts %}
        {% with base_account.get_provider_account as account %}
        <tr class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">
            <td>
                <img alt="{{account.get_brand.name}}:" src="{% static 'squattour/img/services/' %}{{ account.get_brand.id }}.png" />
                {{ account.get_brand.name }}
            </td>
            <td>{{ account }}</td>
            <td>
                <a href="{% url "squattour:import_social" account=base_account.id %}" class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-import"></span>
                    {% trans "Import" %}
                </a>
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>


<p>
    You can delete contacts imported from an account by removing this account
    in <a href="{% url "socialaccount_connections" %}">your profile page</a>.
</p>

<hr />
{% endif %}

<h3>Add a connection</h3>
<p>You can connect to your accounts using the following providers:</p>
{% get_providers as socialaccount_providers %}
<ul class="socialaccount_providers list-inline">
  {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>


{% endblock %}
