{% extends "squattour/base.html" %}
{% load staticfiles %}

{% block head_title %}Import | {{ block.super }}{% endblock %}

{% block content %}

<h1>Importing from {{ social_app.name }}</h1>

<ol id="imported">
</ol>

<p>
    <img id="spinner" alt="loading..." src="{% static "squattour/img/ajax-loader.gif" %}" />
</p>

{% csrf_token %}

{% endblock %}

{% block extra_body %}
<script>
    function worker() {
        $.getJSON({
            url: '{% url "squattour:poll_import_status" account=social_account.pk %}',
            success: function(data) {
                if (data.status === "done") {
                    window.location = '{% url "squattour:contacts" %}';
                } else {
                    var start = $("#imported li").length;
                    var newContacts = data.contacts.slice(start);
                    $.each(newContacts, function(index, value) {
                        $("<li>"+value+"</li>\n").hide().appendTo("#imported");
                    });
                    $("#imported li:hidden").slideDown().promise().done(function() {
                        $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
                    });
                }
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 1000);
            }
        });
    }
    function start_import() {
        $.ajax({
            url: '{% url "squattour:poll_import_status" account=social_account.pk %}',
            method: "POST",
            headers: {
                'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val()
            },
            timeout: 300000,
            success: function(data) {
                window.location = '{% url "squattour:contacts" %}';
            }
        });
        setTimeout(worker, 2000);
    }
    $(function() {
        start_import();
    });
</script>
{% endblock %}
