{% extends "squattour/base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Squat Tour</h1>
  <p>Collect your friends' home addresses and plan your next vacation.</p>
  <p><a class="btn btn-info" href="http://gitlab.com/abompard/squattour" role="button">Learn more</a></p>
</div>

{% if not user.is_authenticated %}
<p><a href="{% url "socialaccount_connections" %}">Login</a> to import your contacts and create your friends' map.</p>
{% endif %}

{% endblock %}
