{% extends "squattour/base.html" %}

{% load i18n %}

{% block head_title %}Map | {{ block.super }}{% endblock %}

{% block extra_head %}
<style>
    #map {
        height: 500px;
    }
    #map .squattour-popup {
        overflow: auto;
    }
    #map .squattour-popup h1 {
        font-size: 105%;
        font-weight: bold;
        margin-top: 0;
    }
    #map .squattour-popup img.photo {
        float: left;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    #map .squattour-popup p {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}

    <div id="map"></div>

    <p class="controls">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-export"></span>
                {% trans "Export" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url "squattour:export" fmt="kml" %}">{% trans "KML format" %}</a></li>
                <li><a href="{% url "squattour:export" fmt="json" %}">{% trans "GeoJSON format" %}</a></li>
            </ul>
        </div>

    {% block map_controls %}{% endblock %}
    </p>

{% endblock %}
